.App{
  text-align: center;
}


.app__form{
  padding: 20px;
position: fixed;
bottom: 0;
z-index: 1;
background-color: #e9e9e9;

width: 100%;
margin-top: 20px;

margin-right: 20px;
}

.app__formControl{
  display: flex !important;
  flex-direction: row !important;
}

.app__input{
  flex: 1;
}

.app_iconButton{
  flex: 0;
}

